* {
	box-sizing: border-box;
}

li {
	margin: 10px 0;
}

#root {
	margin: 10px;
}

select {
	width: 100%;
}

.house {
	padding: 5px 10px;
	border: 1px solid black;
}

.null {
	background: #eee;
}

.yellow {
	background: yellow;
}

.blue {
	background: blue;
}

.white {
	background: white;
}

.green {
	background: green;
}

.red {
	background: red;
}
