* {
	box-sizing: border-box;
}

body {
	background: #BACFF2;
}

#root {
	margin: 10px;
}

/* MAIN */
select {
	width: 100%;
}

.house {
	padding: 5px 10px;
	border: 1px solid black;
}

li {
	margin: 10px 0;
}

.null {
	background: #eee;
}

.yellow {
	background: yellow;
}

.blue {
	background: blue;
}

.white {
	background: white;
}

.green {
	background: green;
}

.red {
	background: red;
}
/* MAIN END */


/* HINTS */
#hints {
	font-size: 1.1em;
}

#hints > h3 {
	color: #00008b;
}

#hints li {
	margin: 0;
}
/* HINTS END */